// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$main-color: #51c172;
$text-main-color: #2E7D32;

a,
a:hover {
    color: $text-main-color;
    text-decoration: none;
}

#main-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 250px calc(100vw - 250px);
    min-height: 100vh;
    grid-template-areas:
        "sidebar content"
        "footer footer";
    grid-template-rows: auto 75px;
}

.icon-col {
    width: 50px;
}

[data-icon="star"] * {
    fill: $text-main-color;
}

.login-header {
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: center;
    color: #fff;
    font-size: 42px;
    margin-bottom: 1rem;

    img {
        margin-right: 0.5rem;
        margin-left: -.5rem;
    }
}

.sidebar-container {
    grid-area: sidebar;

    .left-sidebar {
        padding-top: 0;
        position: fixed;

        .logo-container {
            display: flex;
            align-items: center;
            height: 75px;
            justify-content: center;
            cursor: pointer;

            img {
                margin-right: 0.5rem;
                margin-left: -.5rem;
            }

            span {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.breadcrumb-container {
    background: #4c4c4c;
    color: #fff;

    .page-breadcrumb {
        height: 75px;
        display: flex;
        align-items: center;
        padding: 0;
        margin-right: 15px;

        h4 {
            font-size: 24px;
        }

        .breadcrumb-item {
            a {
                color: #dadada;
            }

            &.active {
                color: #fff;
            }
        }
    }
}

.view-wrapper {
    grid-area: content;
}

.content-wrapper {
    margin: 1rem 15px 1rem 0;
}

.icon {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.icon-checkbox {
    margin: 0 .5rem 0 0;
}

.trash-icon {
    fill: rgb(163, 16, 16);
}

.eye-icon {
    fill: #686666;
}

.pin-icon {
    fill: $text-main-color;
}

#map {
    height: 500px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    .img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

footer {
    text-align: center;
    background-color: #4c4c4c;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    grid-column: 2/3;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #main-wrapper {
        display: grid;
        grid-template-areas:
            "content"
            "footer";
        grid-template-columns: 100%;
        // min-height: 50vh;

        .content-wrapper {
            margin-right: 0;
        }

        .footer {
            grid-column: 1/2;
            font-size: 14px;
        }
    }


    .sidebar-container {
        display: none;
    }

    .breadcrumbs {
        display: none;
    }

    .img-grid {
        grid-template-columns: 1fr !important;
        grid-gap: 15px;
    }

    #map {
        height: 400px;
    }
}
