// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.stary {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-icon="star"] * {
    fill: #dba70c;
}
