// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a,
a:hover {
    color: #2E7D32;
    text-decoration: none;
}

.stary {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-icon="star"] * {
    fill: #dba70c;
}

.centerize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.icon-checkbox {
    margin: 0 .5rem 0 0;
}

.trash-icon {
    fill: rgb(163, 16, 16);
}

.eye-icon {
    fill: #686666;
}

.pin-icon {
    fill: #0a5484;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    .img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

.left-sidebar {
    position: fixed;
}
